* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Pretendard', sans-serif;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100vh;
}

.mycontainer {
  padding: 50px 0 0;
}
section {
  padding: 50px 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


.fs-h1 {
  font-size: 2.125rem; /* 34px */
  font-weight: bold;
}
.fs-h2 {
  font-size: 1.625rem; /* 26px */
  font-weight: bold;
}
.fs-h3 {
  font-size: 1.375rem; /* 22px */
  font-weight: bold;
}
.fs-h4 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}
.fs-h5 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}
.fs-h6 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
}

.mt50 {
  margin-top: 50px;
}


ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

svg {
  flex-shrink: 0;
}

.fs-18 {
  font-size: 18px;
}

.text-white {
  color: #fff;
}

.border-lighter {
  border-width: 2px !important;
}

.border-none {
  border: none !important;
}

.top-ad {
  width: 100%;
  background-color: #214aee;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 991px) {
    display: none;
  }
  p {
    margin: 0;
  }
}
.scrolled {
  header {
    min-height: 65px;
    flex-direction: row-reverse;
    justify-content: space-between;
    z-index: 1000;
    @media (max-width: 1799px) {
      justify-content: center;
      gap: 60px;
    }
    @media (max-width: 1699px) {
      flex-direction: unset;
      justify-content: space-between;
      padding: 0 150px;
    }
    @media (max-width: 991px) {
      flex-direction: row;
      justify-content: center;
      height: 60px;
      min-height: unset;
      padding: 0;
    }
    .hdtop {
      padding-right: calc((100vw - 1320px) / 2);
      width: 42%;
      height: 65px;
      @media (max-width: 1799px) {
        width: auto;
        gap: 50px;
      }
      @media (max-width: 1699px) {
        padding-right: calc(1.5rem* .5);
        width: inherit;
      }
      @media (max-width: 991px) {
        padding-right: calc(1.5rem* .5);
        width: 100%;
        height: 60px;
        gap: unset;
      }
      h1 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc((100% - 1320px) / 2);
        text-align: center;
        @media (max-width: 1699px) {
          position: unset;
          transform: none;
          width: auto;
        }

        @media (max-width: 991px) {
          position: unset;
          transform: unset;
          width: unset;
        }
        svg {
          height: 40px;
        }
      }
      .mobileallmenu {
        @media (max-width: 1699px) {
          display: block !important;
        }
      }
      .search-box {
        width: 234px;
        @media (max-width: 1699px) {
          width: 500px;
          max-width: 500px;
        }
      }
    }
    .hdbtm {
      padding-left: calc((100vw - 1320px) / 2);
      width: 50%;
      @media (max-width: 1699px) {
        display: none;
      }
      @media (max-width: 991px) {
        display: none;
      }
      .mainmenu {
        .category {
          width: auto;
          word-break: keep-all;
        }
      }
      .allmenu {
        width: 480px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        gap: unset;
        .menu {
          word-break: keep-all;
        }
        @media (max-width: 1699px) {
          display: none;
        }
      }
      .delivwrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: calc((100% - 1320px) / 2);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1799px) {
          justify-content: flex-start;
        }
        @media (max-width: 1699px) {
          display: none;
        }
      }

    }
  }
}
header {
  transition: height .5s ease-in-out;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  @media (max-width: 991px){
    height: 60px;
    svg{
      height: 40px;
    }
  }
  .hdtop {
    height: 100px;
    justify-content: space-between;

    input {
      border: none;
      width: 100%;
      &:focus, &:focus-visible {
        outline: none;
      }
    }
    .util {
      gap: 15px;
      button {
        background-color: transparent;
        border: none;
      }
    }
  }
  .hdbtm {
    .mainmenu {
      height: 65px;
      font-weight: 500;
      .category {
        width: 165px;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 65px;
        color: #214aee;
        border: none;
        background-color: transparent;
      }
      .hovermenu {
        position: absolute;
        width: max-content;
        top: calc(100% + 10px);
        left: 0;
        overflow: hidden;
        max-height: 0;
        z-index: 100;
        transition: 0.5s;
        background-color: rgba(246, 246, 246, 0.8);
        border-radius: 30px;
        backdrop-filter: blur(5px);
        color: #333;
        li {
          transition: 0.5s;
          &:first-child {
            color: #214aee;
            flex-direction: column;
            &::before {
              content: '';
              display: block;
              width: 100%;
              height: .25rem;
            }
          }
          &:nth-child(2) {
            color: #214aee;
          }
          &:last-child {
            flex-direction: column;
            &::after {
              content: '';
              display: block;
              width: 100%;
              height: .25rem;
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 1);
            backdrop-filter: unset;
          }
          a {
            padding: 1rem calc(.5rem + 30px);
          }
        }
      }
      &:hover {
        .hovermenu {
          max-height: 500px;
        }
      }
      .hovermenu.open {
        max-height: 500px;
      }
    }
    .allmenu {
      height: 65px;
      gap: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-shrink: 0;
      .menu a {
        color: #888;
        font-size: 20px;
        font-weight: 500;
        transition: .5s;
        &:hover {
          color: #214aee;
        }
      }
    }
    .delivery svg path {
      transition: 0.5s;
    }
    .delivery:hover svg path {
      stroke: #214aee;
      animation-name: boorung;
      animation-duration: .4s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes boorung {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
.prodimg {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-bottom: 10px;
}
.prodInfo {
  .productName {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    order: 1;
  }
  .seller {
    color: #888;
    font-size: 14px;
    font-weight: 500;
    order: 0;
  }
  .price {
    order: 2;
  }
  p {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    order: 3;
  }
}

.categorytitle {
  color:  #214AEE;
  font-size: 34px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
}
.product {
  margin-bottom: 100px;
}
.notyet {
  padding: 50px 0;
}
.linkwrap {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 120px;
  display: flex;
  margin-top: -20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    padding-left: 80px;
    color: #333;
    font-size: 26px;
    img {
      width: 100%;
    }
  }
}
.mytab {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #214AEE;
  gap: 10px;

  li {
    border: 2px solid #ccc;
    border-radius: 30px;
    min-width: 85px;
    height: 40px;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      line-height: 36px;
      padding: 0 1.25rem;
      text-align: center;
      color: #333;
      font-weight: 500;
    }
    &.active {
      background-color: #214AEE;
      border-color: #214AEE;
      a {
        color: #fff;
      }
    }
  }
}
.tempimg {
  width: 572px;
  height: 572px;
  background-color: #bd822a;
}
.totalQuan {
  margin-bottom: 30px;
  color: #888;
  font-size: 18px;
  font-weight: 400;
}

.detailInfo {
  li:nth-child(1) {
    color: #AAA;
    font-size: 18px;
    font-weight: 500;
  }
  li:nth-child(2) {
    color: #333;
    font-size: 26px;
    font-weight: 700;
  }
}

.dcPercent {
  color: #FF4A11;
  font-size: 18px;
  font-weight: 700;
  margin-right: .25rem;
  &.detail {
    font-size: 26px;
  }
}
.origin {
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
  margin-right: .25rem;
  text-decoration: line-through;
  &.detail {
    font-size: 22px;
  }
}
.saleprice {
  font-style: normal;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  word-break: keep-all;
  span {
    font-weight: 500;
  }
  &.detail {
    font-size: 26px;
  }
}


footer{
  width: 100%;
  min-height: 21.875rem;
  padding: 2.725rem 0;
  gap: 3.125rem;
  justify-content: center;
  flex-direction: column;
  background-color: #214AEE;
  color: #fff;

  div {
    h3 {
      margin-bottom: 10px;
    }

    &:nth-child(3) {
      h3 {
        margin-bottom: 10px;
      }
      span{
        margin-top: 5px;
      }
    }
  }
  @media (max-width: 991px){
      h1{
        order: 4;
      }
  }
  a.linkIcon{
    transition: 0.3s ease-out;

    &:hover{
      opacity: 0.7;
    }
  }
}

.logo-white{
  fill: #fff !important;
}
.ftinfo{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.ftinfo-bold{
  font-weight: bold;
}

.nav-link {
  color: #666;
  font-weight: 500;
  font-size: 22px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #d2d2d2;
  &.active {
    color: #333;
    font-weight: 700;
    border-bottom: 3px solid #214AEE;
  }
}

.prodInfoDetail {
  @media (max-width: 1199px){
    flex-direction: column;
  }
}

.detailsect {
  position: relative;
}
  .image-container {
    width: 100%;
    height: 2000px;
    overflow: hidden;
    transition: height 0.3s ease-out;

    .product-image {
      width: 100%;
      transition: height 0.3s ease-out;
    }

    &.expanded {
      height: max-content;

      .product-image {
        height: 100%;
      }
    }
  }

  .morebtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 45px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #214AEE;
    background: #FFF;
  }

  .bestReviewcont {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #214AEE;
    width: 100%;
    .contTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      .bestreviewbadge {
        display: flex;
        height: 20px;
        min-width: 85px;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        border-radius: 100px;
        background: #FF4A11;
        color: #fff;
        line-height: 1;
        font-size: 18px;
        font-weight: 500;
        }
    }
    .contBot {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      align-self: stretch;
      img{
        width: 170px;
        height: 170px;
        background-color: #d2d2d2;
      }
      ul {
        text-align: left;
        // width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        color: #AAA;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 500;
        li:nth-child(2) {
          color: #666;
          text-align: justify;
          display: block;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: 1.2;
          max-height: calc(1.2em * 4);
          
          box-orient: vertical;
          line-clamp: 4;
        }
      }
    }
  }

.swiper-wrapper {
  position: relative;
}

.swiper-pagination {
  display: grid;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
  width: auto !important;
  top: 50% !important;
  left: calc((100vw - 1320px) / 4) !important;
  transform: translate(-50%, -50%);
  bottom: unset !important;
  border-radius: 1.25rem;
  overflow: hidden;
  backdrop-filter: blur(10px);
  @media (max-width: 991px) {
    display: none !important;
  }
}

.swiper-pagination-bullet {
  width: 150px;
  height: 100%;
  text-align: center;
  color: #333;
  opacity: 0.8;
  background: transparent;
  border-radius: 0;
  margin: 0 !important;
  font-size: 12px;
  font-weight: 300;
  line-height: 42px;
  user-select: none;
  @media (max-width: 1149px) {
    width: 120px;
  }
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #214AEE;
  opacity: 1;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 1800px) {
  .swiper-pagination {
    display: flex;
    height: auto;
    top: unset !important;
    bottom: 0.5rem !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.mdsTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
}
.tagwrap {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: nowrap;
}
.tagitem {
  height: 40px;
  width: auto;
  padding: 0 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 100px;
  border: 2px solid #888;
  white-space: nowrap;
}

.noticelist {
  .noticeitem {
    display: flex;
    height: 40px;
    padding: 0 20px;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-bottom: 1px solid #D2D2D2;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    .postNum {
      width: 100px;
      text-align: center;
    }
    span {
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      border-radius: 3px;
      background: #FFEA7D;
      white-space: nowrap;
      visibility: hidden;
    }
    h3 {
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      box-orient: vertical;
      line-clamp: 1;
      width: 100%;
      a {
        display: inline-block;
        padding: 5px 20px;
      }
    }
    .createdAt {
      width: 150px;
      text-align: center;
    }
    .view {
      width: 100px;
      text-align: center;
    }
    &.active {
      span {
        visibility: visible;
      }
      h3 {
        color: #214AEE;
        font-weight: 700;
      }
      h3.normalTitle {
        color: #666;
        font-weight: 500;
      }
    }
  }
  .noticeHd {
    border-bottom: none;
    height: 60px;
    align-items: center;
    background-color: #eee;
  }
}
.myPagination {
  margin-top: 50px;
  button {
    display: flex;
    height: 40px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: none;
    color: #214AEE;
    font-size: 18px;
    font-weight: 400;
    background: none;
    &.active {
      background-color: #214AEE;
      color: #fff;
      font-weight: 700;
    }
    &:disabled {
      background: none;
      opacity: .5;
    }
  }
}

.cslink {
  &:hover {
    text-decoration: underline;
  }
}