* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Pretendard', sans-serif;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100vh;
}

body {
  
}

.container {
  padding: 0;
  margin: 0;
}
.mycontainer {
  padding: 50px 0 0;
}
section {
  padding: 50px 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

svg {
  flex-shrink: 0;
}

.fs-18 {
  font-size: 18px;
}

.text-white {
  color: #fff;
}

.top-ad {
  background-color: #214aee;
  padding: 5px;
    gap: 50px;

  button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  p {
    margin: 0;
  }
}

header {
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  .hdtop {
    height: 100px;
    input {
      border: none;
      width: 100%;
      &:focus, &:focus-visible {
        outline: none;
      }
    }
    .util {
      gap: 15px;
      button {
        background-color: transparent;
        border: none;
      }
    }
  }
  .mainmenu {
    height: 65px;
    font-weight: 500;
    .category {
      width: 165px;
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      line-height: 65px;
      color: #214aee;
      border: none;
      background-color: transparent;
    }
    .hovermenu {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      overflow: hidden;
      max-height: 0;
      z-index: 100;
      transition: 0.5s;
      background-color: rgba(246, 246, 246, 0.8);
      border-radius: 30px;
      backdrop-filter: blur(5px);
      color: #333;
      li {
        transition: 0.3s;
        &:first-child {
          color: #214aee;
          flex-direction: column;
          &::before {
            content: '';
            display: block;
            width: 100%;
            height: .25rem;
          }
        }
        &:nth-child(2) {
          color: #214aee;
        }
        &:last-child {
          flex-direction: column;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: .25rem;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 1);
          backdrop-filter: unset;
        }
        a {
          padding: 1rem calc(.5rem + 30px);
        }
      }
    }
    &:hover {
      .hovermenu {
        max-height: 500px;
      }
    }
    .hovermenu.open {
      max-height: 500px;
    }
  }
  .allmenu {
    height: 65px;
    gap: 80px;
    .menu {
      color: #888;
      font-size: 20px;
      font-weight: 500;
      transition: .5s;
      &:hover {
        color: #214aee;
      }
    }
  }
  .delivery svg path {
    transition: 0.5s;
  }
  .delivery:hover svg path {
    stroke: #214aee;
    animation-name: boorung;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
.swiper-slide {
  width: 1920px;
}
@keyframes boorung {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
.productwrap {
  gap: 20px;
}
.prodimg {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  margin-bottom: 10px;
}
.prodInfo {
  .productName {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    order: 1;
  }
  .seller {
    color: #888;
    font-size: 14px;
    font-weight: 500;
    order: 0;
  }
  .price {
    order: 2;
    strong {
      color: #FF4A11;
      font-size: 18px;
      font-weight: 700;
      margin-right: 6px;
    }
    .origin {
      color: #AAA;
      font-size: 14px;
      font-weight: 400;
      margin-right: 8px;
      text-decoration: line-through;
    }
    em {
      font-style: normal;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      span {
        font-weight: 500;
      }
    }
  }
  p {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    order: 3;
  }
}
.goCart {
  border: none;
  width: 50px;
  height: 50px;
  padding: 2px 5px 0px 2px;
  border-radius: 30px;
  background: rgba(210, 210, 210, 0.30);
}

.categorytitle {
  color:  #214AEE;
  font-size: 34px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
}
.product {
  margin-bottom: 100px;
}
.notyet {
  padding: 50px 0;
}
.linkwrap {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 120px;
  display: flex;
  margin-top: -20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    padding-left: 80px;
    color: #333;
    font-size: 26px;
    img {
      width: 100%;
    }
  }
}
.mytab {
  width: 100%;
  border-bottom: 1px solid #214AEE;
  gap: 5px;
  li a {
    display: inline-block;
    padding: 0 1rem;
    background-color: #eee;
    border-radius: 30px;
    height: 45px;
    line-height: 45px;
    &.active {
      background-color: #214AEE;
      color: #fff;
    }
  }
}